.MuiDialogActions-spacing{
    justify-content: space-between;
}

.MuiDialogActions-root{
    background-color: var(--background_secondary);
}

.MuiDialogContent-root{
    min-height: 400px;
    background-color: var(--background_primary);
}

.About-Selections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 5px;
    width: 150px;
    box-shadow: 0 0 25px 1px black;
    border-radius: 6px;
    background-color: var(--background_secondary);
}